@import "tailwindcss";
@import "./typography.css";

@theme {
  --color-green-00: #00a855;
  --color-green-01: #00c362;
  --color-green-02: #50cd7a;
  --color-green-03: #bbecc8;
  --color-green-04: #ebf9ef;

  --color-mint-01: #42f09e;
  --color-mint-02: #c1f8da;
  --color-mint-03: #f0fff4;
  --color-mint-04: #f7fdfa;

  --color-red-00: #ff3c00;
  --color-blue-00: #39a8fd;

  --color-orange-00: #ff6700;
  --color-orange-01: #ff9100;
  --color-orange-02: #fbc223;
  --color-oragne-03: #fff2de;
  --color-oragne-04: #fdf8d2;

  --color-spring-01: #f6f8ad;
  --color-spring-02: #d9eec5;
  --color-spring-03: #b1ea77;
  --color-antique-white: #f8e6d8;
  --color-mottled-brown: #c58964;
  --color-coconut: #935e3c;
  --color-box: #d9d9d9;

  --color-black: #242628;
  --color-neutral-01: #323438;
  --color-neutral-02: #4b4c50;
  --color-neutral-03: #57595b;
  --color-neutral-04: #686a6d;
  --color-neutral-05: #85878c;
  --color-neutral-06: #a4a6ad;
  --color-neutral-07: #c5c7cc;
  --color-neutral-08: #e5e6e9;
  --color-neutral-09: #e9e9ea;
  --color-neutral-10: #f3f3f4;
  --color-neutral-11: #f9f9fb;
  --color-white: #fefefe;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  .bg-radial-yellowgreen-mintgreen {
    background:
      radial-gradient(
        39.1% 31.12% at 80.25% 2.51%,
        rgba(246, 248, 173, 0.42) 57.26%,
        rgba(255, 255, 255, 0.42) 100%
      ),
      radial-gradient(
        39.99% 49.21% at 23.64% 2.72%,
        rgba(66, 240, 158, 0.66) 21.15%,
        rgba(255, 255, 255, 0.87) 93.53%
      );
  }

  .bg-radial-mint {
    background: radial-gradient(
      338.52% 151.74% at 12.05% 153.19%,
      rgba(0, 255, 98, 0.106) 30.5%,
      rgba(255, 255, 255, 0.106) 100%
    );
  }

  .bg-onboarding-circle-mint {
    border-radius: 146px;
    background: linear-gradient(
      180deg,
      rgba(79, 255, 144, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }

  .bg-onboarding-circle-gray {
    background: linear-gradient(
      160deg,
      rgba(255, 255, 255, 0.1) 42.99%,
      rgba(103, 103, 103, 0.1) 80.56%
    );
  }
  .bg-plant-blue {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) -5.63%,
      #85f3ff 91.94%
    );
  }
  .bg-plant-yellow {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 9.05%,
      #f9eea4 91.94%
    );
  }
  .bg-plant-red {
    background:
      linear-gradient(
        143deg,
        rgba(255, 255, 255, 0.04) 4.45%,
        rgba(255, 218, 150, 0.38) 94.97%
      ),
      linear-gradient(188deg, rgba(255, 255, 255, 0.1) 13.21%, #ff9b7c 97.84%);
  }
  .bg-plant-green {
    background:
      linear-gradient(188deg, rgba(255, 255, 255, 0.1) 13.21%, #98ffc0 97.84%),
      linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.04) 5.17%,
        rgba(254, 255, 230, 0.38) 79.52%
      );
  }
  .bg-blur {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 36.82%,
      #fff 74.32%
    );
  }
  .bg-gradient-orange {
    background: linear-gradient(180deg, #f9cb4c 0%, #fdbb05 100%);
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-white);
    border-bottom-color: var(--color-mint-01);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .bg-glass-style {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );

    backdrop-filter: blur(12px) saturate(150%);
    -webkit-backdrop-filter: blur(12px) saturate(150%);

    box-shadow:
      inset 1px 1px 0 rgba(255, 255, 255),
      inset -1px -1px 0 rgba(255, 255, 255),
      inset 0 0 34px rgba(255, 255, 255, 0.55),
      inset 0 6px 12px rgba(255, 255, 255, 0.12);
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
